*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color:  #0E0E0E;
  text-decoration: none;
}
.topbar{

  width: 100vw;
  height: 10vh;
  text-align: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700; 
  font-size: 50px;
  
}
.productlist{
  
  min-height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
}

.product{

position: relative;
width: 480px;
height: 300px;
background: #FFFFFF;
border-radius: 4px
}